/* Couleurs principales */
$first-color: rgb(245, 245, 245);
$second-color: rgb(205, 210, 55);
$third-color: rgb(18, 18, 15);

/* Couleurs textes */
$light-background-text: rgb(18, 18, 15);
$dark-background-text: rgb(245, 245, 245);

/* Polices textes */
$important-txt: "Cormorant Garamond";
$current-text: "Raleway";