main{
    margin-top: 30px;
}

.product-presentation{
    width: 90%;
    margin: auto;
    figure {
        position: relative;
        max-width: 460px;
        margin: auto;
        img{
            width: 100%;
            max-width: 520px;
        }
        #second-picture{
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 1;
            width: 20%;
            box-shadow: 0 0 10px $first-color;
            cursor: pointer;
        }
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            box-shadow: inset 1px 1px 10px 5px $first-color;
        }
    }
    article{
        position: relative;
        width: 100%;
        max-width: 460px;
        margin: auto;
        margin-top: 20px;
        padding: 5%;
        h2{
            font-family: $important-txt;
            font-size: 1.1rem;
            font-weight: 700;
        }
        p{
            font-size: .8rem;
            margin-top: 15px;
            .bold{
                font-weight: 700;
                font-size: .7rem;
            }
            &.descriptive{
                font-family: $important-txt;
                font-size: .95rem;
            }
        }
        .product-color{
            margin-top: 15px;
            display: flex;
            align-items: center;
            p{
                margin: 0px;
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-left: 5px;
                }
            }
        }
        .product-delivery{
            padding-top: 15px;
            margin-top: 15px;
            position: relative;
            .shop-address-link{
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;
            }
            a{
                color: darken($second-color, 3%);
                text-decoration: none;
                font-weight: 500;
                font-size: .8rem;
            }
            .marker{
                position: relative;
                top: 6px;
                left: 2px;
                height: 25px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 30%;
                border-top: 1px solid $second-color;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 40%;
            width: 40%;
            border-left: 1px solid $second-color;
            border-top: 1px solid $second-color;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 40%;
            width: 40%;
            border-bottom: 1px solid $second-color;
            border-right: 1px solid $second-color;
            pointer-events: none;
        }
    }
    .presentation-separation{
        display: none;
    }
    .back-button{
        position: relative;
        display: block;
        width: 100%;
        height: 80px;
        max-width: 460px;
        margin: auto;
        background-color: $second-color;
        margin-top: 20px;
        padding: 15px;
        box-shadow: inset 3px 4px 20px 5px #F5F5F5;
        text-decoration: none;
        p{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-family: $important-txt;
            font-weight: 700;
            font-size: .95rem;
            text-align: center;
            color: $third-color;
            padding: 10px;
            border: 1px solid $first-color;
            background: linear-gradient(90deg, rgba(245,245,245,0.39539565826330536) 0%, rgba(245,245,245,0) 100%);
        }
    }
    .color-square{
        width: 20px;
        height: 20px;
        border: 1px solid $second-color;
        padding: 2px;
        margin-left: 5px;
        .interior-square{
            width: 14.5px;
            height: 14.5px;
            &.pink-color-square{
                background-color: #e5baba;
            }
            &.lavender-color-square{
                background-color: #E6E6FA;
            }
            &.red-color-square{
                background-color: #ca0b1b;
            }
            &.dark-red-color-square{
                background-color: #632c37;  
            }
            &.silver-color-square{
                background-color: #BBA4B6;  
            }
            &.light-blue-color-square{
                background-color: #98CBD9;
            }
            &.blue-color-square{
                background-color: #2c5ab4;
            }
            &.dark-blue-color-square{
                background-color: #24213a;
            }
            &.blue-green-color-square{
                background-color: #6E9CA1;
            }
            &.dark-green-color-square{
                background-color: #084E56;
            }
            &.ivory-color-square{
                background-color: #f7e5e1; 
            }
            &.beige-color-square{
                background-color: #D9BFB2; 
            }
            &.dark-beige-color-square{
                background-color: #9c9486;
            }
            &.light-brown-color-square{
                background-color: #AF8786;
            }
            &.purple-color-square{
                background-color: #64485E;
            }
            &.white-color-square{
                background-color: #ffffff;
            }
            &.black-color-square{
                background-color: #000000;
            }
            &.degraded-pink-blue-color-square{
                background: linear-gradient(270deg, rgba(36,33,58,1) 50%, rgba(229,186,186,1) 50%);
            }
        }
    }
}

@media screen and (min-width: 800px){
    .product-presentation{
        display: flex;
        justify-content: space-around;
        figure{
            margin: 0 30px 0 0;
        }
        > div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            article{
                max-width: 520px;
                margin: 0;
            }
            .back-button{
                max-width: 520px;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 1100px){
    .product-presentation{
        > div{
            .back-button{
                margin-top: -20px;
            }
            .presentation-separation{
                display: flex;
                justify-content: center;
                height: 20%;
                img{
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .product-presentation{
        > div{
            .presentation-separation{
                height:25%;
            }
        }
    }
}

@media screen and (min-width: 1300px){
    .product-presentation{
        > div{
            .presentation-separation{
                height: 30%;
            }
        }
    }
}

@media screen and (min-width: 1400px){
    .product-presentation{
        article{
            h2{
                font-size: 1.2rem;
            }
            p{
                font-size: .9rem;
                .bold{
                    font-size: .8rem;
                }
                &.descriptive{
                    font-size: 1rem;
                }
            }
            .product-delivery{
                a{
                    font-size: .9rem;
                }
            }
        }
        .back-button{
            p{
                font-size: 1rem;
            }
        } 
    }
}

@media screen and (min-width: 1390px){
    .product-presentation{
        width: 80%;
    }
}

@media screen and (min-width: 1600px){
    .product-presentation{
        width: 70%;
    }
}