#shop-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px 20px 20px;
    margin: auto;
    #shop-movie{
        position: relative;
        width: 321px;
        display: flex;
        justify-content: center;
        video{
            max-width: 100%;
            border-radius: 5px;
        }
        > div{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(18, 18, 15, .2);
            box-shadow: inset 3px 2px 26px 5px $first-color;
            transition: background-color .4s ease-in-out;
            &.active{
                background-color: rgba(18, 18, 15, 0);
                .play-button{
                    opacity: 0;
                }
            }
            .play-button{
                color: $first-color;
                text-shadow: 0 0 3px $third-color;
                font-size: 5rem;
                opacity: 1;
                transition: opacity .4s ease-in-out;
            }
        }
    }
    article{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 10px 30px 10px;
        margin-top: 30px;
        border-left: 1px solid $second-color;
        border-bottom: 1px solid $second-color;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 180px;
            border-top: 1px solid $second-color;
            border-right: 1px solid $second-color;
        }
        h2{
            @extend %shop-h2;
            margin-top: 20px;
            text-align: center;
        }
        h3{
            margin-top: 10px;
        }
        p{
            margin-top: 20px;
            line-height: 22px;
            font-size: .84rem;
            font-weight: 400;
            text-align: center;
        }
    }
}

#map-presentation{
    margin: auto;
    width: 90%;
    h2{
        display: inline-block;
        padding-left: 50px;
        @extend %shop-h2;
        border-bottom: 1px solid $second-color;
        padding-bottom: 5px;

    }
    > div{
        border-left: 1px solid $second-color;
        border-bottom: 1px solid $second-color;
        padding: 20px 0 20px 20px;
    }
}

#map{
    height: 500px;
    background: no-repeat center url("../images/carte/carte-repere-mobile.png");
    background-size: cover;
    cursor: default;
    > div{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: opacity($second-color, .15);
    }
}


#map-nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: opacity($second-color, .8);
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        li{
            position: relative;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 25%;
            .container-icon{
                margin-top: 20px;
                transition: color .3s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: $first-color;
                }
            }
            .container-icon{
                &.active{
                    i{
                        color: $first-color;
                    }
                    p{
                        color: $first-color;
                    }
                }
            }
            a{
                color: $third-color;
            }
            i{
                font-size: 1.5rem;
            }
            p{
                position: absolute;
                top: 35px;
                left: 50%;
                transform: translateX(-50%);
                font-size: .8rem;
                margin-top: 2px;
                width: 100%;
                text-align: center;
                display: none;
            }
        }
    }
}

#address{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second-color;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    max-width: 90%;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    &.active{
        opacity: 1;
    }
    h3{
        font-family: $important-txt;
        font-size: 1.1rem;
        font-weight: bold;
    }
    a{
        display: flex;
        align-items: center;
        margin-top: 15px;
        text-decoration: none;
        color: $third-color;
        font-weight: 700;
        font-size: .8rem;
        i{
            color: $first-color;
            margin-right: 10px;
            font-size: 1.2rem;
        }  
    }
    p{
        margin-top: 15px;
        line-height: 20px;
        font-size: .8rem;
    }
}

#opinion-hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#shop-hours{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top: 1px solid $second-color;
        border-right: 1px solid $second-color;
        width: 60px;
        height: 60px;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 1px solid $second-color;
        border-bottom: 1px solid $second-color;
        width: 60px;
        height: 60px;
    }
    h2{
        @extend %shop-h2;
        padding-bottom: 5px;
        border-bottom: 1px solid $second-color;
    }
    > div {
        p{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size: .7rem;
            margin: auto;
            margin-top: 15px;
            width: 100%;
            .day{
                padding-left: 20px;
                font-weight: 700;
            }
            .monday{
                grid-column: 2 / 4;
            }
        }
    }
    a{
        display: flex;
        align-items: center;
        margin-top: 15px;
        text-decoration: none;
        color: $third-color;
        font-weight: 700;
        font-size: .8rem;
        i{
            color: $second-color;
            margin-right: 10px;
            font-size: 1.2rem;
        }
    }
}

#opinion{
    position: relative;
    cursor: default;
    margin-top: 80px;
    width: 100%;
    height: 400px;
    background: url("../images/fond/avis-fond.jpg") bottom no-repeat;
    background-size: cover;
    .opinion-title{
        position: absolute;
        top: -20px;
        right: -20px;
        width: 80px;
        height: 80px;
        padding: 5px;
        background-color: $first-color;
        z-index: 2;
        h2{
            @extend %shop-h2;
            text-align: center;
            border: 1px solid $second-color;
            padding: 5px;
            a{
                color: $third-color;
                text-decoration: none;
            }
        }
    }
    .opinion-button{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;  
        width: 100%; 
        z-index: 2;
        i{
            font-size: 3rem;
            padding: 8px;
            color: darken($second-color, 10%);
            cursor: pointer;
        }
        &-left::after{
            content:'';
            position: absolute;
            top: -168px;
            left: 0;
            height: 400px;
            width: 30px;
            background: linear-gradient(90deg, darken($second-color, 7%) 0%, opacity($second-color, .0) 100%);
            opacity: 0;
            transition: opacity .4s ease-in-out;
        }
        &-left:hover::after{
            opacity: 1;
        }

        &-right::after{
            content:'';
            position: absolute;
            top: -168px;
            right: 0;
            height: 400px;
            width: 30px;
            background: linear-gradient(270deg, darken($second-color, 7%) 0%, opacity($second-color, .0) 100%);
            opacity: 0;
            transition: opacity .4s ease-in-out;
            z-index: 2;
        }
        &-right:hover::after{
            opacity: 1;
        }
    }
    .opinion-container{
        position: relative;
        height: 100%;
        width: 100%;
        background-color:opacity($second-color, .9);
        padding: 20px;
        .opinion-card{
            position: relative;
            height: 100%;
            border-top: 1px solid $first-color;
            border-right: 1px solid $first-color;
            text-overflow: ellipsis;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 80px;
                width: 120px;
                border-bottom: 1px solid $first-color;
                border-left: 1px solid $first-color;
            }
            .card{
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 0;
                height: 100%;
                width: 100%;
                padding: 20px;
                transition: opacity .4s ease-in-out;
                &.active{
                    opacity: 1;
                }
                &.last-card{
                    p{
                        font-size: .8rem;
                        font-weight: 500;
                        line-height: 22px;
                        text-align: center;
                        padding-top: 15px;
                        a{
                            color: $third-color;
                            text-decoration: none;
                            font-weight: 700;
                        }
                    }
                }
            }
            .top-area{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                div:first-child{
                    margin-left: 20px;
                    img{
                        box-shadow: 0px 0px 5px $third-color;
                        border-radius: 50%;
                    }
                }
                > div:last-child{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 8px 0px 8px 20px;
                    p{
                        font-weight: 700;
                        font-size: .9rem;
                    }
                    .star-area{
                        margin-top: 5px;
                        color: $first-color;
                        i{
                            margin-left: 3px;
                        }
                    }
                }
            }
            .bottom-area{
                display: flex;
                align-items: center;
                p{
                    max-height: 200px;
                    margin-top: 5px;
                    font-size: .8rem;
                    font-weight: 500;
                    line-height: 20px;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and(min-width: 390px){
    #shop-presentation{
        position: relative;
        width: 90%;
        margin-top: 30px;
        border-left: 1px solid $second-color;
        border-bottom: 1px solid $second-color;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 180px;
            border-top: 1px solid $second-color;
            border-right: 1px solid $second-color;
        }
        article{
            border: none;
            background: center no-repeat url("../images/fond/fond-coeur.png");
            padding: 20px;
            &::after{
                border: none;
            }
        }
    }
    #map-presentation{
        margin-top: 60px; 
    }

    #map-nav{
        ul{
            li{ 
                .container-icon{
                    margin-top: 10px;
                }
                p{
                    display: block;
                }
            }
        }
    }
    #opinion{
        .opinion-container{
            .opinion-card{
                .top-area{
                    flex-direction: row;
                }
                .bottom-area{
                    margin-top: 10px;
                    p{
                        max-height: 240px;
                    }
                }
            }
        }
    }

}

@media screen and(min-width: 530px){
    #map{
        background-image: url("../images/carte/carte-repere-desktop.png");
    }   
}

@media screen and(min-width: 700px){
    #opinion-hours{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #shop-hours{
        width: 48%;
    }

    #opinion{
        width: 48%;
        margin-top: 0;
    }
}

@media screen and(min-width: 780px){
    #shop-hours{
        > div {
            p{
                font-size: .8rem;
            }
        }
    }
}

@media screen and(min-width: 1024px){
    #shop-presentation{
        margin-top: 40px;
        padding-top: 0px;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        #shop-movie{
            video{
                min-width: 321px;
            }
        }
        article{
            width: 50%;
            margin-top: 0;
            h2{
                border-bottom: 1px solid $second-color;
                padding-bottom: 5px;
                font-size: 1.3rem;
            }
        }
    }

    #map-presentation{  
        width: 80%;
        h2{
            font-size: 1.3rem;
        }
    }

    #map-nav{
        align-items: center;
        right: 0; 
        height: 100%;
        width: 60px;
        ul{
            display: flex;
            flex-direction: column;
            width: 100%;

            li{
                align-items: center;
                width: 100%;
                p{
                    top: 80px;
                    text-align: center;
                }
            }
        }
    }

    #address{
        h3{
            font-size: 1.3rem;
        }
        p{
            font-size: .9rem;
        }
        a{
            font-size: .9rem;
        }
    }  

    #opinion-hours{
        width: 80%;
    }

    #shop-hours{
        width: 45%;
    }

    #opinion{
        width: 45%;
    }
}

@media screen and(min-width: 1345px){
    #shop-presentation{
        width: 70%;
    }

    #map-presentation{
        width: 70%;
    }

    #opinion-hours{
        justify-content: space-around;
        width: 70%;
    }

    #shop-hours{
        width: 40%;
    }

    #opinion{
        width: 40%;
    }
}