header{
    .upper-part{
        @extend %header;
        background-image: url("../images/fond/boutique.jpg");
        margin-top: -100px;
        transition: margin-top .4s ease-in;
        &.mouse-up{
            margin-top: -400px;
        }
        > div{
            @extend %degraded-header;
            p.company-name{
                @extend %company-name;
                text-shadow: 0px 0px 2px darken($second-color, 40%);
                color: $third-color;
                span:last-child{
                    margin-left: 30px;
                }
            }
        }
    }
    .lower-part{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        h1{
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $second-color;
            &.short-title{
                position: relative;
                padding: 0 10px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 1px;
                    background-color: $second-color;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -50px;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 1px;
                    background-color: $second-color;
                }
            }
        }
    }
    .product-presentation-title{
        display: flex;
        justify-content: center;
        font-family: $important-txt;
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 700;
        color: $second-color;
    }
}

@media screen and(min-width: 1024px){
    header{
        .lower-part{
            h1{
                font-size: 1.2rem;
            }
        }
        .product-presentation-title{
            font-size: 1.4rem; 
        }
    }
}

@media screen and(min-width: 1400px){
    header{
        .lower-part{
            h1{
                font-size: 1.3rem;
            }
        }
        .product-presentation-title{
            font-size: 1.5rem; 
        }
    }
}